html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("pictures/logo-with-nails.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
}

.button-container button {
  margin-right: 10px;
}
